:root {
  background-color: #fffcf0;
  color: #14242f;
  font-family: 'Inter var', sans-serif;
  font-weight: 500;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
main {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

